
@{
    ViewBag.Title = "yoneticigiris";
    Layout = "~/Views/Shared/mainlayout.cshtml";
}

<div id="div1" class="btn-group btn-group-justified">
    <a href="/Randevu/Index/" class="btn btn-primary">RANDEVU KONTROL</a>
    <a href="/Doktor/Index/" class="btn btn-primary">DOKTOR KONTROL</a>
    <a href="/Bolum/Index/" class="btn btn-primary">BÖLÜM KONTROL</a>
    <a href="/Hasta/Index/" class="btn btn-primary">HASTA KONTROL</a>
</div>

<style>
    #div1 {
        height: 300px;
        font-weight: 200;
    }

    body {
        background-image: url('../../doktorlarımız.jpg');
        background-size: cover;
    }
</style>

